<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=13.0.19.116, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </configSections>
    <Telerik.Reporting>
        <Cache provider="" />
        <cache provider="" />
        <assemblyReferences>
            <add name="DSRG" version="1.0.0.0" />
        </assemblyReferences>
        <SessionState provider="" />
        <restReportService>
            <storage provider="" />
            <reportResolver provider="" />
        </restReportService>
        <appData path="" />
    </Telerik.Reporting>
    <connectionStrings>
        <add name="DSRG.Properties.Settings.BlueTech" connectionString="Data Source=DESARROLLADOR;Initial Catalog=Blue-Tech;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="DSRG.Properties.Settings.BlueTech1" connectionString="Data Source=10.0.0.108;Initial Catalog=Blue-Tech;User ID=usuario;Password=123" providerName="System.Data.SqlClient" />
        <add name="DSRG.Properties.Settings.BlueTech2" connectionString="Data Source=10.0.0.108;Initial Catalog=Blue-Tech;User ID=usuario;Password=123" providerName="System.Data.SqlClient" />
        <add name="DSRG.Properties.Settings.BlueTech6" connectionString="Data Source=10.0.0.108;Initial Catalog=Blue-Tech;User ID=usuario;Password=123" providerName="System.Data.SqlClient" />
        <add name="DSRG.Properties.Settings.BlueTech002" connectionString="Data Source=10.0.0.108;Initial Catalog=Blue-Tech;Persist Security Info=True;User ID=usuario;Password=123" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySqlConnector" publicKeyToken="d33d3e53aa5f8c92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
